apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --out kube
    kompose.version: 1.31.2 (HEAD)
  labels:
    io.kompose.service: qdrant
  name: qdrant
  namespace: vectorflow
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: qdrant
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert --out kube
        kompose.version: 1.31.2 (HEAD)
      labels:
        io.kompose.network/vectorflow: "true"
        io.kompose.service: qdrant
    spec:
      containers:
        - image: qdrant/qdrant
          name: qdrant
          ports:
            - containerPort: 6333
              hostPort: 6333
              protocol: TCP
          resources: {}
      restartPolicy: Always
status: {}
